# Swift Package Manager
.build/
.swiftpm/
Package.resolved
*.xcodeproj

# Xcode
xcuserdata/
*.xcworkspace
*.xcuserstate
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

# Build artifacts
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift
*.swiftmodule
*.swiftdoc
*.swiftsourceinfo

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.history/

# Environment
.env
.env.local
