<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackendURL</key>
	<string></string>
	<key>IframeURL</key>
	<string>http://localhost:5173</string>
	<key>OpenfortPublishableKey</key>
	<string>pk_test_15238963-23a6-5e6b-a32c-8b8f27414db7</string>
	<key>ShieldEncryptionKey</key>
	<string>AnOZE0fPHC4+n+8jpg9mCNXmPMVY0eRVewi7dQ/7G2yv</string>
	<key>ShieldPublishableKey</key>
	<string>3a3ef549-5d4c-4f6d-b5cf-42881c23c2de</string>
	<key>ShieldURL</key>
	<string></string>
</dict>
</plist>
